#!/bin/bash

if [ -n "$DEBUG" ];
then
  set -ex
fi

BTRFS_MOUNTS=({{ btrfs_mount_mounts | map(attribute='mount_path') | join(' ') }} /)

function help() {
    echo "Usage: btrfs_work [balance|scrub|help]"
    echo "  balance: balance Btrfs filesystems"
    echo "  scrub:   scrub Btrfs filesystems and output result to stdout"
    echo "  help:    show this help message"
    return
}

function btrfs_fs_usage() {
    btrfs filesystem usage --human-readable $1
}

function btrfs_work() {
    OPERATION=$1
    OPTS=$2


    # Loop through the array and operate on each mount point
    for BTRFS_MOUNT in ${BTRFS_MOUNTS[@]}; do
        echo "Beginning ${OPERATION} with options ${OPTS} for ${BTRFS_MOUNT}"
        if [ ${OPERATION} = "balance" ]
        then
            btrfs_fs_usage ${BTRFS_MOUNT}
        fi
        btrfs ${OPERATION} start ${OPTS} ${BTRFS_MOUNT}  2>&1

        if [ "${OPERATION}" = "balance" ]; then
            SEARCH_PATTER='No balance found on'
        elif [ "${OPERATION}" = "scrub" ]; then
            SEARCH_PATTER='Status:[[:space:]]*finished'
        fi

        # Wait for the operation to finish
        while true; do
            btrfs ${OPERATION} status ${BTRFS_MOUNT} | grep "${SEARCH_PATTER}" 2>&1
            if [ $? -eq 0 ]
            then
                break
            fi

            sleep 60
            echo "btrfs ${OPERATION} still in progress for ${BTRFS_MOUNT}"
            btrfs ${OPERATION} status ${BTRFS_MOUNT}
        done

        echo "${OPERATION} of ${BTRFS_MOUNT} finished"
        # Output the result of the status to stdout
        btrfs ${OPERATION} status ${BTRFS_MOUNT}
        if [ ${OPERATION} = "balance" ]
        then
            btrfs_fs_usage ${BTRFS_MOUNT}
        fi
    done
}

case $1 in
"balance")
    btrfs_work $1 "-dusage=75 -musage=75 --background"
    ;;
"scrub")
    btrfs_work $1
    ;;
"help")
    help
    ;;
*)
    help
    ;;
esac
